* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(255, 140, 0); */
  background-color: #f8efeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.all {
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  gap: 1.5rem;
  color: orangered;
  font-size: large;
  padding-left: 110px;
}

.body1 {
  background-color: rgb(0, 0, 0);
}

.Platia {
  color: white;
  font-size: xx-large;
}
.container h4 {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  justify-items: center;
  text-align: center;
  margin-bottom: 10px;
}

/* FOR THE DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  width: 100%;
}

.dropdown ul {
  display: none;
  /* background-color: red; */
  text-decoration: none;
}

/* hero section */
.hero {
  background-image: url(./img/24e786e3243135fce422f1cbd1bd7b0d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding: 0 7rem;
}

input {
  display: block;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ccc;
  outline: none;
  color: #fff;
}

.time,
.date {
  width: 180px;
  display: block;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
}

.clock {
  color: rgb(255, 0, 0);
  display: flex;
}

/*  */

.container {
  padding-top: -100px;
}

.container textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #ccc;
  outline: none;
  /* transition: all 1s; */
  color: #fff;
  font-size: 1rem;
}

/* input::placeholder, textarea::placeholder{
color: #fff;
} */

.container textarea:focus {
  border: 2px solid orangered;
  outline: 2px solid #ccc;
  transition: all 0.5s;
}

.container input:focus {
  border: 2px solid orangered;
  outline: 2px solid #ccc;
  transition: all 0.5s;
}

.form-control-flex {
  display: flex;
  gap: 1rem;
}

.container {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn3 {
  background-color: orangered;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.btn3:hover {
  transform: translateY(-5px);
  transition: all 0.5s;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 71, 71);
  padding: 10px;
}

.navbar1 ul:not(.dropdown ul) {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.navbar1 ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar1 ul a:hover:not(.dropdown ul a) {
  color: orangered;
}

.dropdown ul a {
  color: black;
  background-color: white;
}

.Dropdown {
  color: grey;
}

.cook {
  color: rgb(238, 255, 0);
  text-decoration: wavy;
}

.culinary {
  font-size: xxx-large;
  color: #fff;
  /* opacity: 0.8; */
  margin-bottom: 30px;
}
.story {
  font-size: x-large;
  color: #fff;
  margin-bottom: 30px;
}

.btn1 {
  border: none;
  border: 20px 20px;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: orangered;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.btn1:hover {
  transform: translateY(-5px);
  transition: all 1s;
  color: orangered;
  background-color: #fff;
}

.btn2 {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  /* border: 3px solid black; */
  padding: 15px 30px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 1s;
  background-color: transparent;
  color: #fff;
}
.btn2:hover {
  transform: translateY(-5px);

  color: #fff;
  border: 2px solid orangered;
}

.Scroll {
  color: rgb(0, 0, 0);
  justify-items: center;
}

.body2 {
  background-color: white;
}

.navbar2 {
  background-color: black;
  color: black;
  border: none;
}

.navbar2 ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

/* .Dishes {
  background-color: orangered;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
  box-shadow: 10px;
}

.Dishes:hover {
  cursor: pointer;
  transform: translateY(-7px);
  transition: all 0.5s;
} */

/* .About {
  padding-top: 70px;
  display: flex;
  /* text-shadow: -10px -10px; */
/* text-shadow: #660707; */
/* padding-left:600px ; */
/* margin: auto; */
/* justify-items: center;
} */

.part1 {
  padding-top: 20px;
  text-align: center;
}

.part2 {
  padding-top: 50px;
}

.part3 {
  padding-top: 20px;
}

.part4 {
  padding-top: 20px;
}

/* .Aboutflex {
  display: flex;
}

.aboutMain {
  display: flex;
  gap: 1rem;
} */

/* About */
.abt-head {
  text-align: center;
  margin-top: 90px;
}
.about-container {
  display: flex;
  gap: 2rem;
  margin-top: 60px;
  padding: 0px 120px;
  margin-bottom: 90px;
}

.abt-image {
  border-top-left-radius: 100px;
}

.abt-image div {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 20px;
}

.abt-image img {
  border-radius: 8px;
}

.abt-image div img {
  width: 240px;
  gap: 1rem;
}

.abt-text h2 {
  margin-bottom: 20px;
}
.abt-text-flex {
  display: flex;
  margin-top: 20px;
  gap: 1rem;
}

.abt2 {
  background-color: white;
  /* box-shadow: 1px 1px 1px black; */
  /* padding-left: 15px; */
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.abt2:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.abt2 .fa-trophy {
  color: orangered;
  font-size: 1.8rem;
}

.abt2 h3 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
}
.dine {
  border-radius: 10px;
}

.im2 {
  display: flex;
  gap: 1rem;
  border: none;
}

/* .im1{
    display: flex;
  } */

.image1 :hover {
  transform: scale(1000px);
}

.food :hover {
  transform: translateY(-10px);
}

.pickbox {
  display: flex;
  gap: 1rem;
  padding-top: 30px;
  /* padding-left: ; */
}

.chef {
  text-align: center;
}

.pickbox img {
  width: 100%;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* margin:auto; */
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  align-content: center;
}

.pickbox div {
  padding: 20px 20px;
  background-color: rgb(255, 255, 0);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
}
/* MENU */
.menu {
  padding: 0px 120px;
}

.me1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  /* text-shadow: 0px -5px  grey; */
}

.me2 {
  text-align: center;
  margin-bottom: 30px;
}

.menu-nav {
  background-color: #fff;
  border-radius: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 20px;
}

.menu-nav ul {
  display: flex;
  align-items: center !important;
  gap: 5rem;
  padding: 0px 120px;
}
.menu-nav ul li {
  list-style-type: none;
}

.menu-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  /* padding: 0px 120px; */
}

.img-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.menu-container img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.menu-text {
  padding: 30px;
}
.menu-text h2 {
  margin-bottom: 1rem;
}

.menu-content {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.menu-content:hover {
  transform: translateY(-10px);
  transition: all 1s;
}

.menu-content img {
  /* display: block; */
  width: 100%;
  border-radius: 10px;
  height: 280px;
}
.dish {
  color: white;
  background-color: orangered;
  padding: 10px 10px;
  border-radius: 50px;
}

.dish:hover {
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 1s;
}

.app:hover {
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 1s;
  color: orangered;
}
.wiz {
  margin-bottom: 10px;
}

/* VALENTINE EVENTS */
.valentine {
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 50px;
}

.val-body {
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
}
/* .val-img {
  display: flex;
  gap: 2rem;
} */
.valen {
  display: flex;
  gap: 2rem;
}
.val-img:hover {
  transform: translateY(-10px);
}

.valcontent h3 {
  padding: 10px 10px;
  text-align: center;
}

.valcontent p {
  padding: 10px 10px;
}

.val-img1:hover {
  transform: translateY(-10px);
  transition: 1s;
}

.val-1 {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.val-1 img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.val-1 img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.imgval {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.valcontent {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.events {
  text-align: center;
  margin-bottom: 20px;
}

.val-special {
  text-align: center;
  margin-bottom: 20px;
}

.val-special p{
  text-align: center;
}


.val-day span {
  /* display: flex; */
  gap: 1rem;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  background-color: #EDD8CE;
  padding: 10px 30px;
  border-radius: 100px;
  color: #E08356;
}
.val-limited, .val-day{
  /* margin: auto; */
  display: flex;
  justify-content: center;
}
.limited {
  text-align: center;
  color: white;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 10px;
  
  /* width: 150px; */
}
/* TESTIMONIALS */
.testimonial-content {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 10px 10px;
}

.test-text{
  display: flex;
  gap: 1rem;
}

.testimonial-cont {
  display: flex;
  gap: 2rem;
  margin-bottom: 50px;
}
.testimonial {
  padding: 0px 120px;
  /* display: flex; */
}

.star li {
  list-style-type: none;
}

.te1 {
  text-align: center;
  margin-bottom: 50px;
}
.star {
  display: flex;
  color: gold;
}

.testimonial img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* FOOTER */
.footer {
  background-color: black;
  color: #fff;
}

.footer-container {
  padding: 50px 120px;
  display: flex;
  gap: 4rem;
}

.footer-container ul {
  list-style-type: none;
}

.footer-container ul li {
  margin-bottom: 20px;
}

.footer-container h3 {
  margin-bottom: 10px;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container div:first-child {
  width: 400px;
}

.social span {
  height: 20px;
  width: 20px;
  background-color: #4b4747;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

.footer-container ul:nth-child(1) li a:hover,
.footer-container ul:nth-child(2) li a:hover {
  color: orangered;
}

.footer-container h3 {
  position: relative;
}
.footer-container h3:after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
}

.social span:hover {
  background-color: orangered;
  /* transform: translateY(-10px); */
}
.social i {
  color: #fff;
}


